:root {
    --juejin-background: #f4f5f5;
    --juejin-brand-1-normal: #1e80ff;
    --juejin-brand-1-hover: #1171ee;
    --juejin-brand-1-bg: #e8f3ff;
    --juejin-font-1: #1d2129;
    --juejin-font-2: #515767;
    --juejin-font-3: #86909c;
    --juejin-font-4: #c9cdd4;
    --juejin-gray-1-1: #e4e6eb;
}
