<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xu.infrastructure.persistent.dao.IArticleTagDao">

    <resultMap id="BaseResultMap" type="cn.xu.infrastructure.persistent.po.ArticleTag">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="articleId" column="article_id" jdbcType="BIGINT"/>
        <result property="tagId" column="tag_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,article_id,tag_id
    </sql>

    <insert id="insert" parameterType="cn.xu.infrastructure.persistent.po.ArticleTag">
        INSERT INTO article_tag (article_id, tag_id)
        VALUES (#{articleId}, #{tagId})
    </insert>

    <insert id="insertTags" parameterType="java.util.List">
        INSERT INTO article_tag (article_id, tag_id)
        VALUES
        <foreach collection="list" item="tag" separator=",">
            (#{tag.articleId}, #{tag.tagId})
        </foreach>
    </insert>
    <insert id="insertBatchByList" parameterType="java.util.List">
        INSERT INTO article_tag (article_id, tag_id)
        VALUES
        <foreach collection="list" item="tag" separator=",">
            (#{tag.articleId}, #{tag.tagId})
        </foreach>
    </insert>

    <delete id="deleteByArticleIds">
        DELETE FROM article_tag WHERE article_id IN
        <foreach collection="articleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByArticleId">
        DELETE
        FROM article_tag
        WHERE article_id = #{articleId}
    </delete>

</mapper>
