<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xu.infrastructure.persistent.dao.IArticleDao">

    <resultMap id="BaseResultMap" type="cn.xu.infrastructure.persistent.po.Article">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="coverUrl" column="cover_url" jdbcType="VARCHAR"/>
        <result property="authorId" column="author_id" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="commentEnabled" column="comment_enabled" jdbcType="CHAR"/>
        <result property="viewCount" column="view_count" jdbcType="BIGINT"/>
        <result property="favoritesCount" column="favorites_count" jdbcType="BIGINT"/>
        <result property="likeCount" column="like_count" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,title,content,
        cover_url,author_id,
        status,comment_enabled,
        view_count,favorites_count,
        like_count,create_time,update_time
    </sql>

    <insert id="insert" parameterType="cn.xu.infrastructure.persistent.po.Article" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO article (title, description, content, cover_url, author_id, status,
                             comment_enabled, view_count, favorites_count, like_count, create_time, update_time)
        VALUES (#{title}, #{description}, #{content}, #{coverUrl}, #{authorId}, #{status},
                #{commentEnabled}, #{viewCount}, #{favoritesCount}, #{likeCount}, now(), now())
    </insert>
    <update id="update">
        UPDATE article
        SET title = #{title},
            description = #{description},
            content = #{content},
            cover_url = #{coverUrl},
            author_id = #{authorId},
            status = #{status},
            comment_enabled = #{commentEnabled},
            view_count = #{viewCount},
            favorites_count = #{favoritesCount},
            like_count = #{likeCount},
            update_time = now()
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds">
        DELETE FROM article WHERE id IN
        <foreach collection="articleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryByPage" resultType="cn.xu.infrastructure.persistent.po.Article">
        SELECT id, title, description, cover_url, status
        FROM article
        ORDER BY id DESC
            LIMIT #{page}, #{size}
    </select>
    <select id="findById" resultType="cn.xu.infrastructure.persistent.po.Article" resultMap="BaseResultMap">
        SELECT id,
               title,
               description,
               content,
               cover_url,
               author_id,
               status,
               comment_enabled,
               view_count,
               favorites_count,
               like_count,
               create_time,
               update_time
        FROM article
        WHERE id = #{id}
    </select>
</mapper>
