<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xu.infrastructure.persistent.dao.IArticleDao">

    <resultMap id="BaseResultMap" type="cn.xu.infrastructure.persistent.po.Article">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="coverUrl" column="cover_url" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="viewCount" column="view_count" jdbcType="BIGINT"/>
        <result property="favoritesCount" column="favorites_count" jdbcType="BIGINT"/>
        <result property="likeCount" column="like_count" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,title,content,
        cover_url,user_id,
        view_count,favorites_count,
        like_count,create_time,update_time
    </sql>

    <insert id="insert" parameterType="cn.xu.infrastructure.persistent.po.Article" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO article (title, introduction, content, cover_url, user_id,
                             view_count, favorites_count, like_count, create_time, update_time)
        VALUES (#{title}, #{introduction}, #{content}, #{coverUrl}, #{userId},
                #{viewCount}, #{favoritesCount}, #{likeCount}, now(), now())
    </insert>
    <update id="update">
        UPDATE article
        SET title           = #{title},
            introduction    = #{introduction},
            content         = #{content},
            cover_url       = #{coverUrl},
            user_id         = #{userId},
            view_count      = #{viewCount},
            favorites_count = #{favoritesCount},
            like_count      = #{likeCount},
            update_time     = now()
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds">
        DELETE FROM article WHERE id IN
        <foreach collection="articleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryByPage" parameterType="cn.xu.api.dto.article.ArticleRequest"
            resultType="cn.xu.api.dto.article.ArticlePageResponse">
        SELECT
        a.id,
        a.title,
        a.introduction,
        a.cover_url AS coverUrl,
        a.create_time AS createTime,
        c.name AS categoryName,
        GROUP_CONCAT(t.name SEPARATOR ',') AS tagNames,
        u.nickname
        FROM
        article AS a
        JOIN article_category AS ac ON a.id = ac.article_id
        JOIN category AS c ON ac.category_id = c.id
        LEFT JOIN article_tag AS at ON a.id = at.article_id
        LEFT JOIN tag AS t ON at.tag_id = t.id
        LEFT JOIN user AS u ON a.user_id = u.id
        <where>
            <if test="title != null and title != ''">
                AND a.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="categoryId != null">
                AND ac.category_id = #{categoryId}
            </if>
            <if test="tagId != null">
                AND EXISTS (SELECT 1 FROM article_tag WHERE article_id = a.id AND tag_id = #{tagId})
            </if>
        </where>
        GROUP BY a.id, c.name, u.nickname
        ORDER BY a.create_time DESC
        LIMIT #{page}, #{size}
    </select>

    <select id="findById" resultType="cn.xu.infrastructure.persistent.po.Article" resultMap="BaseResultMap">
        SELECT id,
               title,
               introduction,
               content,
               cover_url,
               user_id,
               view_count,
               favorites_count,
               like_count,
               create_time,
               update_time
        FROM article
        WHERE id = #{id}
    </select>
    <select id="queryArticleByPage" resultType="cn.xu.domain.article.model.entity.ArticleRecommendOrNew">
        SELECT a.id                                                         AS article_id,
               a.title,
               a.introduction,
               a.content,
               a.cover_url,
               a.user_id,
               a.view_count,
               a.favorites_count,
               a.like_count,
               a.create_time,
               a.update_time,
               GROUP_CONCAT(DISTINCT t.name ORDER BY t.name SEPARATOR ', ') AS tags,
               u.nickname                                                   AS author_nickname,
               u.avatar                                                     AS author_avatar
        FROM article a
                 LEFT JOIN
             article_tag at
        ON a.id = at.article_id
            LEFT JOIN
            tag t ON at.tag_id = t.id
            LEFT JOIN
            user u ON a.user_id = u.id
        GROUP BY
            a.id
        ORDER BY
            a.create_time DESC;
    </select>
</mapper>
