<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xu.infrastructure.persistent.dao.ICommentDao">
    <resultMap id="BaseResultMap" type="cn.xu.infrastructure.persistent.po.Comment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="target_id" property="targetId" jdbcType="BIGINT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="reply_to_user_id" property="replyToUserId" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , type, target_id, parent_id, user_id, reply_to_user_id, content, create_time, update_time
    </sql>

    <insert id="insert" parameterType="cn.xu.infrastructure.persistent.po.Comment" useGeneratedKeys="true"
            keyProperty="id">
        insert into comment (type, target_id, parent_id, user_id, reply_to_user_id, content, create_time, update_time)
        values (#{type}, #{targetId}, #{parentId}, #{userId}, #{replyToUserId}, #{content}, #{createTime},
                #{updateTime})
    </insert>

    <delete id="deleteById">
        delete
        from comment
        where id = #{id}
    </delete>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment
        where id = #{id}
    </select>

    <select id="findByTypeAndTargetId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        comment
        WHERE
        type = #{type}
        AND target_id = #{targetId}
        ORDER BY
        create_time DESC
    </select>

    <select id="findByParentId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        comment
        WHERE
        parent_id = #{parentId}
        ORDER BY
        create_time DESC
    </select>

    <!-- 批量删除评论 -->
    <delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM comment
        WHERE id IN
        <foreach collection="commentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
