<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xu.infrastructure.persistent.dao.ILikeDao">
    <sql id="Base_Column_List">
        id
        , user_id, target_id, type, status, create_time, update_time
    </sql>

    <insert id="insert" parameterType="cn.xu.infrastructure.persistent.po.Like">
        INSERT INTO `like` (user_id, target_id, type, status, create_time)
        VALUES (#{userId}, #{targetId}, #{type}, #{status}, #{createTime}
    </insert>

    <update id="update" parameterType="cn.xu.infrastructure.persistent.po.Like">
        UPDATE `like`
        <set>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE user_id = #{userId}
        AND target_id = #{targetId}
        AND type = #{type}
    </update>

    <select id="findByUserIdAndTargetIdAndType" resultType="cn.xu.infrastructure.persistent.po.Like">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `like`
        WHERE user_id = #{userId}
        AND target_id = #{targetId}
        AND type = #{type}
        LIMIT 1
    </select>
    <select id="findStatus" resultType="java.lang.Integer">
        SELECT status
        FROM `like`
        WHERE user_id = #{userId}
        AND target_id = #{targetId}
        AND type = #{type}
        LIMIT 1
    </select>

</mapper>
