<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xu.infrastructure.persistent.dao.OperationLogsMapper">

    <resultMap id="BaseResultMap" type="cn.xu.infrastructure.persistent.po.OperationLogs">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="operationType" column="operation_type" jdbcType="VARCHAR"/>
            <result property="operationDescription" column="operation_description" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="additionalInfo" column="additional_info" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,operation_type,operation_description,
        user_id,user_name,create_time,
        ip_address,status,additional_info
    </sql>

    <insert id="insertLog" parameterType="cn.xu.infrastructure.persistent.po.OperationLogs">
        INSERT INTO operation_logs (operation_type, operation_description, user_id, username, create_time, ip_address, status, additional_info)
        VALUES (#{operationType}, #{operationDescription}, #{userId}, #{username}, NOW(), #{ipAddress}, #{status}, #{additionalInfo})
    </insert>

    <select id="selectLogById" parameterType="long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM operation_logs
        WHERE id = #{id}
    </select>

    <update id="updateLog" parameterType="cn.xu.infrastructure.persistent.po.OperationLogs">
        UPDATE operation_logs
        SET operation_type = #{operationType},
            operation_description = #{operationDescription},
            user_id = #{userId},
            username = #{username},
            ip_address = #{ipAddress},
            status = #{status},
            additional_info = #{additionalInfo}
        WHERE id = #{id}
    </update>

    <delete id="deleteLogById" parameterType="long">
        DELETE FROM operation_logs WHERE id = #{id}
    </delete>
</mapper>
