<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xu.infrastructure.persistent.dao.PostTopicMapper">

    <resultMap id="BaseResultMap" type="cn.xu.infrastructure.persistent.po.PostTopic">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="postId" column="post_id" jdbcType="BIGINT"/>
        <result property="topicId" column="topic_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, post_id, topic_id, create_time
    </sql>

    <insert id="insert">
        INSERT INTO post_topic (post_id, topic_id, create_time)
        VALUES (#{postId}, #{topicId}, now())
    </insert>

    <insert id="insertBatchByList">
        INSERT INTO post_topic (post_id, topic_id, create_time)
        VALUES
        <foreach collection="postTopics" item="postTopic" separator=",">
            (#{postTopic.postId}, #{postTopic.topicId}, now())
        </foreach>
    </insert>

    <select id="selectTopicIdsByPostId" resultType="java.lang.Long">
        SELECT topic_id
        FROM post_topic
        WHERE post_id = #{postId}
    </select>

    <select id="selectPostIdsByTopicId" resultType="java.lang.Long">
        SELECT post_id
        FROM post_topic
        WHERE topic_id = #{topicId}
        ORDER BY create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectByPostIds" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM post_topic
        WHERE post_id IN
        <foreach collection="postIds" item="postId" open="(" separator="," close=")">
            #{postId}
        </foreach>
    </select>

    <delete id="deleteByPostId">
        DELETE FROM post_topic
        WHERE post_id = #{postId}
    </delete>

    <delete id="deleteByPostIdAndTopicIds">
        DELETE FROM post_topic
        WHERE post_id = #{postId} AND topic_id IN
        <foreach collection="topicIds" item="topicId" open="(" separator="," close=")">
            #{topicId}
        </foreach>
    </delete>

</mapper>