<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xu.infrastructure.persistent.dao.IRoleDao">

    <resultMap id="BaseResultMap" type="cn.xu.infrastructure.persistent.po.Role">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="desc" column="desc" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insertRoleMenu">
        INSERT INTO role_menu (role_id, menu_id)
        <foreach collection="menus" item="menuId" index="index" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>
    <insert id="insertRole">
        INSERT INTO role (code, name, `desc`)
        VALUES (#{code}, #{name}, #{desc})
    </insert>
    <update id="updateRole">
        UPDATE role
        SET code = #{code}, name = #{name}, `desc` = #{desc}
        WHERE id = #{id}
    </update>
    <delete id="deleteRoleMenuByRoleId">
        DELETE FROM role_menu
        WHERE role_id = #{roleId}
    </delete>
    <delete id="deleteRoleByIds" parameterType="java.util.List">
        DELETE FROM role
        WHERE id IN
        <foreach collection="ids" item="id" index="index" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectRolesByUserid" resultType="java.lang.String">
        SELECT name
        FROM user
                 JOIN user_role ON user.id = user_role.user_id
                 JOIN role ON user_role.role_id = role.id
        WHERE user.id = #{userId}
    </select>

    <select id="selectRolePage" resultMap="BaseResultMap">
        SELECT id, name, code, `desc`
        FROM role
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        LIMIT #{page}, #{size}
    </select>

    <select id="countRole" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM role
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>
    <select id="selectRoleIdByUserId" resultType="java.lang.Long">
        SELECT role_id
        FROM user_role
        WHERE user_id = #{userId}
    </select>
    <select id="selectMenuIdByRoleMenu" resultType="java.lang.Long">
        SELECT menu_id
        FROM role_menu
        WHERE role_id = #{roleId}
    </select>
    <select id="selectRoleById" resultType="cn.xu.infrastructure.persistent.po.Role">
        SELECT id, code, name
        FROM role
        WHERE id = #{roleId}
    </select>


</mapper>
