<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xu.infrastructure.persistent.dao.ITagDao">

    <resultMap id="BaseResultMap" type="cn.xu.infrastructure.persistent.po.Tag">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,description,
        create_time,update_time
    </sql>

    <insert id="insert" parameterType="cn.xu.infrastructure.persistent.po.Tag">
        INSERT INTO tag (name, description, create_time, update_time)
        VALUES (#{name}, #{description}, NOW(), NOW())
    </insert>

    <update id="update" parameterType="cn.xu.infrastructure.persistent.po.Tag">
        update tag
        set name        = #{name},
            description = #{description}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.util.List">
        DELETE FROM tag
        WHERE id IN
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectListByPage" resultMap="BaseResultMap">
        SELECT id, name, description, create_time, update_time
        FROM tag LIMIT #{page}, #{size}
    </select>

    <select id="selectById" resultType="cn.xu.infrastructure.persistent.po.Tag">
        SELECT id, name, description, create_time, update_time
        FROM tag
        WHERE id = #{id}
    </select>

</mapper>
