<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xu.infrastructure.persistent.dao.TagMapper">

    <resultMap id="BaseResultMap" type="cn.xu.infrastructure.persistent.po.ArticleTag">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,description,
        create_time,update_time
    </sql>

    <insert id="insert" parameterType="cn.xu.infrastructure.persistent.po.ArticleTag">
        INSERT INTO article_tag (name, description, create_time, update_time)
        VALUES (#{name}, #{description}, NOW(), NOW())
    </insert>

    <update id="update" parameterType="cn.xu.infrastructure.persistent.po.ArticleTag">
        update article_tag
        set name        = #{name},
            description = #{description}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.util.List">
        DELETE FROM article_tag
        WHERE id IN
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectListByPage" resultMap="BaseResultMap">
        SELECT id, name, description, create_time, update_time
        FROM article_tag LIMIT #{page}, #{size}
    </select>

    <select id="selectById" resultType="cn.xu.infrastructure.persistent.po.ArticleTag">
        SELECT id, name, description, create_time, update_time
        FROM article_tag
        WHERE id = #{id}
    </select>
    <select id="selectList" resultType="cn.xu.infrastructure.persistent.po.ArticleTag">
        SELECT id, name
        FROM article_tag
    </select>
    <select id="selectByArticleId" resultType="cn.xu.infrastructure.persistent.po.ArticleTag">
        SELECT t.id, t.name
        FROM article_tag t
                 INNER JOIN article_tag_rel at
        ON t.id = at.tag_id
        WHERE at.article_id = #{articleId}
    </select>

    <!-- 分页查询标签列表 -->
    <select id="selectTagPage" resultMap="BaseResultMap">
        SELECT id, name, create_time, update_time
        FROM article_tag LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectByArticleIds" resultType="cn.xu.domain.article.model.aggregate.ArticleAndTagAgg">
        SELECT
        at.article_id AS articleId,
        SUBSTRING_INDEX(
        GROUP_CONCAT(t.name ORDER BY t.id SEPARATOR ','),
        ',', 3
        ) AS tags
        FROM article_tag_rel as at
        JOIN article_tag as t ON at.tag_id = t.id
        <if test="articleIds != null and articleIds.size() > 0">
            WHERE at.article_id IN
            <foreach item="id" collection="articleIds" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        GROUP BY at.article_id
    </select>
</mapper>
