<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xu.infrastructure.persistent.dao.TopicMapper">

    <resultMap id="BaseResultMap" type="cn.xu.infrastructure.persistent.po.Topic">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="is_recommended" property="isRecommended" jdbcType="TINYINT"/>
        <result column="usage_count" property="usageCount" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, description, is_recommended, usage_count, create_time, update_time
    </sql>

    <insert id="addTopic">
        INSERT INTO `topic` (name, create_time, update_time)
        VALUES (#{name}, NOW(), NOW())
    </insert>

    <select id="getTopicById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `topic`
        WHERE id = #{id}
    </select>

    <select id="getAllTopics" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `topic`
        ORDER BY usage_count DESC
    </select>

    <select id="searchTopics" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `topic`
        <where>
            <if test="keyword != null and keyword != ''">
                name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY usage_count DESC
    </select>

    <select id="getHotTopics" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `topic`
        ORDER BY usage_count DESC
        LIMIT #{limit}
    </select>

    <select id="findByName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `topic`
        WHERE name = #{name}
    </select>
    
    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `topic`
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>