<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xu.infrastructure.persistent.dao.IUserDao">
    <resultMap id="userMap" type="cn.xu.infrastructure.persistent.po.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="region" property="region"/>
        <result column="birthday" property="birthday"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , username, password, email, nickname, avatar, gender, phone, region, birthday, description, status, create_time, update_time
    </sql>

    <insert id="insert" parameterType="cn.xu.infrastructure.persistent.po.User" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO user (username, password, email, nickname, avatar, gender, phone, region, birthday, description,
                          status)
        VALUES (#{username}, #{password}, #{email}, #{nickname}, #{avatar}, #{gender}, #{phone}, #{region}, #{birthday},
                #{description}, #{status})
    </insert>

    <update id="update" parameterType="cn.xu.infrastructure.persistent.po.User">
        UPDATE user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="region != null">region = #{region},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            update_time = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectById" resultMap="userMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE id = #{id}
    </select>

    <select id="selectByUsername" resultMap="userMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE username = #{username}
    </select>

    <select id="selectByEmail" resultMap="userMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE email = #{email}
    </select>

    <select id="countByUsername" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE username = #{username}
    </select>

    <select id="countByEmail" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE email = #{email}
    </select>

    <select id="selectByPage" resultMap="userMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        ORDER BY id DESC
        LIMIT #{offset}, #{size}
    </select>

    <delete id="deleteById">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>

    <select id="selectByIds" resultMap="userMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>